In [3]:
a= "shyam"
for i in a:
    print(i)
    print(i,end="")

s
sh
hy
ya
am
m

In [4]:
for i in a:
    print(i,end="")

shyam

In [5]:
x="every"+"day"
print(x)

everyday

In [6]:
x="love"+"you"
print(x)

loveyou

In [7]:
3* "iloveyou"

'iloveyouiloveyouiloveyou'

In [8]:
"love" in "iloveyou"

True

In [9]:
"a"in "nikhil"

False

In [10]:
"sex" in "life"

False

In [11]:
"balaji" in "shribalaji"

True

In [12]:
"ram" not in "shriram"

False

In [13]:
"sex" not in "life"

True

In [14]:
"pussy" in " ilovepussy"

True

In [15]:
"pussy" not in "lovepussy"

False

In [16]:
a="iloveyounikhil"
for i in a:
    print(i,end="")

iloveyounikhil

In [17]:
for i in a:
    print(i)

i
l
o
v
e
y
o
u
n
i
k
h
i
l

In [19]:
"ram"!= "ram"

False

In [20]:
"ram"== "nikhil"

False

In [21]:
"ramesh" == "ramesh"

True

In [22]:
"sex"!= "sex"

False

In [1]:
a= "hello world"
print(a[4:-2])

o wor

In [4]:
print(a[6:],a[:6])

world hello

In [5]:
a= "nikhil pal"
print(a[4:-2])

il p

In [6]:
print(a[:5])

nikhi

In [8]:
print(a[4:2])

In [9]:
print(a[4:6])

il

In [11]:
print(a[-3:2])

In [12]:
print(a[-3:-6])

In [14]:
print(a[:4],a[5:8])

nikh l p

In [15]:
print(a[1:6],a[6:2])

ikhil

In [17]:
print(a[:3])

nik

In [18]:
print(a[2:6:2])

ki

In [19]:
print(a[3::2])

hlpl

In [20]:
print(a[:5:2])

nki

In [21]:
print(a[3::2])

hlpl

In [22]:
a=input("entre the name:")
for i in range (0,len(a)):
    print("length of the string=",len(a))

entre the name:nikhil
length of the string= 6
length of the string= 6
length of the string= 6
length of the string= 6
length of the string= 6
length of the string= 6

In [23]:
a=input("entre the name")
for i in range(0,len(a)):
    print("length of string=",len(a))

entre the nameneeraj
length of string= 6
length of string= 6
length of string= 6
length of string= 6
length of string= 6
length of string= 6

In [29]:
a= input(" entre the name:")
for i in range(0,len(a)):
    print(a[i],end="")

 entre the name:neeraj
neeraj

In [30]:
a=input("entre the name:")
print(a[-1::-1])

entre the name:neeraj
jareen

In [31]:
a=input("entre the name:")
print(a[-1::-1])

entre the name:nikhil
lihkin

In [32]:
a=input("entre the name:")
print(a[-1::-1])

entre the name:rakesh
hsekar

In [4]:
a= "rakesh kumar"
print(a.capitalize () )

Rakesh kumar

In [5]:
a="nikhil pal"
print(a.capitalize())

Nikhil pal

In [7]:
z="mukesh"
x=(z.capitalize())
print("after value=",x)

after value= Mukesh

In [13]:
a="radha is  very beautiful lady "
b="beautiful"
a.find (b,0(len(a)-1)-1)

<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\nikhil pal\AppData\Local\Temp\ipykernel_10320\3991322552.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  a.find (b,0(len(a)-1)-1)
C:\Users\nikhil pal\AppData\Local\Temp\ipykernel_10320\3991322552.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  a.find (b,0(len(a)-1)-1)
C:\Users\nikhil pal\AppData\Local\Temp\ipykernel_10320\3991322552.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  a.find (b,0(len(a)-1)-1)
C:\Users\nikhil pal\AppData\Local\Temp\ipykernel_10320\3991322552.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  a.find (b,0(len(a)-1)-1)
C:\Users\nikhil pal\AppData\Local\Temp\ipykernel_10320\3991322552.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  a.find (b,0(len(a)-1)-1)

TypeError: 'int' object is not callable

In [15]:
a=input("etre the string:")
b=a[-1::-1]
if(a==b):
    print("parllidrome number")
else:
    print("not parlidrome number")

etre the string:madam
parllidrome number

In [16]:
a=input("input the string:")
b=a[-1::-1]
if(a==b):
    print("parlidrome number")
else:
    print("not parlidrmoe number ")

input the string:raju
not parlidrmoe number

In [20]:
a=input("entre the number:")
b=a[-1::-1]
if(a==b):
    print("parlidrome number")
else:
    print("not parlidrome number")

entre the number:pop
parlidrome number

In [1]:
a=[1,"nikhil","nitesh",12.5]
a[1]

'nikhil'

In [2]:
a[-1]

12.5

In [3]:
a[3]

12.5

In [4]:
a[-2]

'nitesh'

In [5]:
print(a)

[1, 'nikhil', 'nitesh', 12.5]

In [6]:
a[a]

TypeError: list indices must be integers or slices, not list

In [7]:
a[-4]

1

In [8]:
a[3]

12.5

In [1]:
a=["ram",10,"nikhil","nitesh",12.5,"love","class","math"]
a[3]

'nitesh'

In [2]:
a[5]

'love'

In [3]:
a[4]

12.5

In [4]:
a[3]

'nitesh'

In [6]:
a[1:1:1]

[]

In [7]:
a[1:3:1]

[10, 'nikhil']

In [8]:
a[1:7:2]

[10, 'nitesh', 'love']

In [9]:
a[1:7:3]

[10, 12.5]

In [11]:
a[1::]

[10, 'nikhil', 'nitesh', 12.5, 'love', 'class', 'math']

In [12]:
a[::1]

['ram', 10, 'nikhil', 'nitesh', 12.5, 'love', 'class', 'math']

In [13]:
a[:2:]

['ram', 10]

In [14]:
a[:2:1]

['ram', 10]

In [15]:
a[3:6:]

['nitesh', 12.5, 'love']

In [16]:
print(a)

['ram', 10, 'nikhil', 'nitesh', 12.5, 'love', 'class', 'math']

In [17]:
a[3]

'nitesh'

In [18]:
a[5]

'love'

In [19]:
a[4]

12.5

In [20]:
a[6]

'class'

In [21]:
a[1]

10

In [22]:
a[6]

'class'

In [23]:
a[7]

'math'

In [24]:
a[3]= "rakesh"

In [25]:
a

['ram', 10, 'nikhil', 'rakesh', 12.5, 'love', 'class', 'math']

In [26]:
a[5]= "devdas"

In [27]:
a

['ram', 10, 'nikhil', 'rakesh', 12.5, 'devdas', 'class', 'math']

In [29]:
a[7]="rose"

In [30]:
a

['ram', 10, 'nikhil', 'rakesh', 12.5, 'devdas', 'class', 'rose']

In [31]:
del a[1]

In [32]:
a

['ram', 'nikhil', 'rakesh', 12.5, 'devdas', 'class', 'rose']

In [33]:
del a[0]

In [34]:
a

['nikhil', 'rakesh', 12.5, 'devdas', 'class', 'rose']

In [35]:
del a[4]

In [36]:
a

['nikhil', 'rakesh', 12.5, 'devdas', 'rose']

In [37]:
del a[3]

In [38]:
a

['nikhil', 'rakesh', 12.5, 'rose']

In [39]:
del a[2]

In [40]:
a

['nikhil', 'rakesh', 'rose']

In [42]:
a[2] = "mukesh"

In [43]:
a

['nikhil', 'rakesh', 'mukesh']

In [45]:
a[2]="sex"

In [46]:
a

['nikhil', 'rakesh', 'sex']

In [1]:
a=["ram","nikhil",12,13,14,"car",12.5]
for i in a:
    print(i)

ram
nikhil
12
13
14
car
12.5

In [11]:
a=["ram","nikhil",12,13,14,"car",12.5]
for i in range(7):
    print(a[i])

ram
nikhil
12
13
14
car
12.5

In [12]:
b=len(a)
print("length of the list=",b)

length of the list= 7

In [13]:

print("length of the list=",len(a))

length of the list= 7

In [14]:
a=[12,13,16,18,19,23,34,56,78,90,13,123,456,789]
print("maxime number of the list=",max(a))

maxime number of the list= 789

In [16]:
b=[1,23,45,67,89,0,-23,-345,-456,]
print("miniume number of the list=",min(b))

miniume number of the list= -456

In [17]:
c=["shyam","nikhil","rakesh","suman"]
print("maxium no of the list=",max(c))

maxium no of the list= suman

In [18]:
c=["shyam","nikhil","rakesh","suman"]
print("minium number of list=",min(c))

minium number of list= nikhil

In [20]:
c=["shyam","nikhil","rakesh","suman"]
for i in c:
    print(i)

shyam
nikhil
rakesh
suman

In [23]:
c=["shyam","nikhil","rakesh","suman"]
for i in range(len(c)):
    print(c[i])

shyam
nikhil
rakesh
suman

In [30]:
c=["shyam","nikhil","rakesh","suman",23]
for i in range(len(c)):
    print(i)

0
1
2
3
4

In [31]:
len(c)

5

In [32]:
for i in c:
    print(i)

shyam
nikhil
rakesh
suman
23

In [37]:
for i in range (len(c)):
    print(c[i])

shyam
nikhil
rakesh
suman
23

In [1]:
a=[12,14,23,456,67,890]
max(a)

890

In [2]:
b=[12,23,45,67,80-7]
max(b)

73

In [4]:
c=[12,354,567,791234,456789*1324]
max(c)

604788636

In [5]:
d=[134,2345,56789,123231234/100]
max(d)

1232312.34

In [8]:
a=[12,13,356,4567,1234,6779,33455678/12234456]
min(a)

2.734545614451513

In [9]:
a=[12,2,45,566,678,234,678,2354,79889,134/123]
min(a)

1.089430894308943

In [3]:
a=[12,334,56,789,234,678]
print("max number in the list=",max(a))
print("minium umber in the list=:",min(a))
print("list number of range=",len(a))

max number in the list= 789
minium umber in the list=: 12
list number of range= 6

# append()function

In [6]:
c=["ram","shyam","nikhil","neeraj"]
a=c.append("pankaj")
print("new name add this list=",c)

new name add this list= ['ram', 'shyam', 'nikhil', 'neeraj', 'pankaj']

In [7]:
c=["ram","shyam","nikhil","neeraj"]
x=c.append("ram")
print(c)

['ram', 'shyam', 'nikhil', 'neeraj', 'ram']

In [9]:
a=[]
for i in range(1,6):
    val=input("entre the value:")
    a.append(val)
for i in range(5):
    print(a[i])

entre the value:ram
entre the value:shyam
entre the value:nitesh
entre the value:neerraj
entre the value:pankaj
ram
shyam
nitesh
neerraj
pankaj

In [4]:
a=[]
for i in range(6):
    print(a[i])

IndexError: list index out of range

In [8]:
a=[]
for i in range (1,7):
    val=int(input("entre the value:"))
    a.append(val)
for i in a:
    print(i)

entre the value:12
entre the value:34
entre the value:56
entre the value:34
entre the value:56
entre the value:34
12
34
56
34
56
34

In [10]:
a=[]
for i in range(1,6):
    val=input("entre the value:")
    a.append(val)
print(a[i])

entre the value:syam
entre the value:nikhil
entre the value:nitesh
entre the value:nikhil
entre the value:raaj

IndexError: list index out of range


# count() function

In [1]:
var=["ram","sita","gopal","nitesh","suresh","naman","ram"]
x=var.count("ram")
print("frequency of ram=",x)

frequency of ram= 2

In [2]:
var=[2,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,2,3,4,5,6,7]
x=var.count(2)
print("frequency of 2=",x)

frequency of 2= 3

In [3]:
x=var.count(5)
print("frequency of five=",x)

frequency of five= 3

In [4]:
y=["ram","nitesh",12,13,14,14.5,"ram",12,13,"count","sex","love",-23,]
z=y.count("ram")
print("frequency of ram=",z)

frequency of ram= 2

In [8]:
a=[]
for i in range(6):
    var=int(input("entre the value:"))
    a.append(var)
x=int(input("entre the number do you want check frequency:"))
y=a.count(x)
print("frequncy of ",x," is=",y)

entre the value:12
entre the value:23
entre the value:12
entre the value:45
entre the value:67
entre the value:34
entre the number do you want check frequency:12
frequncy of  12  is= 2

In [9]:
a=[]
for i in range(6):
    var=input("entre the number:")
    a.append(var)
x=input("entre the name do you want check frequency:")
y=a.count(x)
print("frequency of ",x," is =",y)

entre the number:nikhil
entre the number:ran
entre the number:nitesh
entre the number:ran
entre the number:rani
entre the number:nikhil
entre the name do you want check frequency:nikhil
frequency of  nikhil  is = 2

In [10]:
a=[]
for i in range(5):
    var=int(input("entre the value:"))
    a.append(var)
z=int(input("entre the number do you want frequency:"))
y=a.count(z)
print("frequncy of ",z," is =",y)

entre the value:12
entre the value:34
entre the value:12
entre the value:45
entre the value:23
entre the number do you want frequency:12
frequncy of  12  is = 2

# indexing ()

In [1]:
a=[12,13,14,"ram","nikhil","shyam"]
a.index("ram")

3

In [2]:
a.index(12)

0

In [4]:
a[2]

14

In [5]:
a[4]

'nikhil'

In [3]:
a=[]
for i in range(5):
    var=input("entre the name:")
    a.append(var)
x=input("entre the name who you find indexing:")
z=a.index(x)
print("index value=",z)
print("after indexing of list=",a)

entre the name:nikhil
entre the name:rahul
entre the name:nitesh
entre the name:pawan
entre the name:abhijeet
entre the name who you find indexing:rahul
index value= 1
after indexing of list= ['nikhil', 'rahul', 'nitesh', 'pawan', 'abhijeet']

# insert ()

In [4]:
a=[5,"ram",10]
a.insert(2,"shyam")
print(a)

[5, 'ram', 'shyam', 10]

In [6]:
a.insert(3,15)
print(a)

[5, 'ram', 'shyam', 15, 10, 10]

In [8]:
a.index(15)

3

In [9]:
a[3]

15

In [10]:
a[4]

10

In [11]:
a[5]

10

In [12]:
a.index("ram")

1

In [13]:
a.insert(6,"nitesh")
print(a)

[5, 'ram', 'shyam', 15, 10, 10, 'nitesh']

In [15]:
a=[]
for i in range(5):
    var=input("entre the name:")
    a.append(var)
index=int(input("entre the indexing value:"))
value=input("entre the value:")
z=a.insert(index,value)
print("after inserting value=",a)
print("show index value and value do you want add=",z)

entre the name:nitesh
entre the name:rahul
entre the name:sankar
entre the name:rahul
entre the name:deepak
entre the indexing value:3
entre the value:nikhil
after inserting value= ['nitesh', 'rahul', 'sankar', 'nikhil', 'rahul', 'deepak']
show index value and value do you want add= None

# remove()

In [2]:
a=[13,"ram","nitesh","nikhil","ram",12,13]
a.remove("ram")
print(a)

[13, 'nitesh', 'nikhil', 'ram', 12, 13]

In [3]:
a.remove("ram")
print(a)

[13, 'nitesh', 'nikhil', 12, 13]

In [4]:
a.remove(13)
print(a)

['nitesh', 'nikhil', 12, 13]

In [6]:
a.remove(12)
print(a)

['nitesh', 'nikhil', 13]

In [8]:
a=[]
for i in range(5):
    var=input("inter the name:")
    a.append(var)
print("original string=",a)
value=input("entre the name to delete:")
a.remove(value)
print("after deleting string=",a)

inter the name:nikhil
inter the name:ram
inter the name:nitesh
inter the name:santosh
inter the name:ram
original string= ['nikhil', 'ram', 'nitesh', 'santosh', 'ram']
entre the name to delete:ram
after deleting string= ['nikhil', 'nitesh', 'santosh', 'ram']

In [3]:
a=[12,3,45,"nikhil","nitesh"]
x=a.reverse()
print(a)

['nitesh', 'nikhil', 45, 3, 12]

In [4]:
b=[12,3,4,56,"nitesh","rahul"]
b.reverse()
print(b)

['rahul', 'nitesh', 56, 4, 3, 12]

In [7]:
a=[]
for i in range(5):
    var=input("intre the name:")
    a.append(var)
print("original string=",a)
x=a.reverse()
print("reverse list=",a)

intre the name:nikhil
intre the name:shyam
intre the name:nitesh
intre the name:rahul
intre the name:sandeep
original string= ['nikhil', 'shyam', 'nitesh', 'rahul', 'sandeep']
reverse list= ['sandeep', 'rahul', 'nitesh', 'shyam', 'nikhil']

In [11]:
c=["nikhil","nitesh",1,2,3,4,5]
c.pop()
print(c)

['nikhil', 'nitesh', 1, 2, 3, 4]

In [12]:
v=["nikhil","shyam",12,3,4,5,6]
v.pop()
print(v)

['nikhil', 'shyam', 12, 3, 4, 5]

# programe to find sum of list

In [4]:
a=[]
size=int(input("entre the number do you want list size:"))
for i in range(size):
    val=int(input("inter the number:"))
    a.append(val)
sum=0
for i in range(size):
    sum=sum+a[i]
print("total sum of number=",sum)

entre the number do you want list size:5
inter the number:4
inter the number:5
inter the number:6
inter the number:3
inter the number:9
total sum of number= 27

# programe to count number of odd and even

In [7]:
a=[]
size=int(input("entre the number do you want list size:"))
for i in range(size):
    val=int(input("entre the value:"))
    a.append(val)
even=0
odd=0
for i in range(size):
    if a[i]%2==0:
        even+=1
    else:
        odd+=1
print("total even number=",even)
print("total odd number=",odd)

entre the number do you want list size:10
entre the value:2
entre the value:4
entre the value:6
entre the value:8
entre the value:10
entre the value:3
entre the value:5
entre the value:7
entre the value:9
entre the value:1
total even number= 5
total odd number= 5

# programe to search a number in the list

In [7]:
a=[]
size=int(input("entre the number do you want a list size:"))
for i in range(size):
    val=int(input("entre the value:"))
    a.append(val)
key=int(input("which number do you want search in the list:"))
flag=0
for i in range(size):
    if a[i]==key:
        flag=1
        pos=i+1
        break
if(flag==1):
    print("element found at",pos,"postion.")
else:
    print("element not found")

entre the number do you want a list size:5
entre the value:1
entre the value:3
entre the value:5
entre the value:6
entre the value:7
which number do you want search in the list:5
element found at 3 postion.

# programe to count frequency of the number

In [3]:
a=[]
size=int(input("entre the name do you want the size of list:"))
for i in range(size):
    val=int(input("entre the number:"))
    a.append(val)
key=int(input("entre the number do you want frequency this number:"))
count=0
for i in range(size):
    if a[i]==key:
        count+=1
print("frequency=",count)

entre the name do you want the size of list:10
entre the number:1
entre the number:3
entre the number:4
entre the number:5
entre the number:6
entre the number:7
entre the number:8
entre the number:2
entre the number:1
entre the number:4
entre the number do you want frequency this number:4
frequency= 2

# find max and min number in programe

In [1]:
a=[]
size=int(input("entre the size do you want the size of list:"))
for i in range(size):
    val=int(input("entre the value:"))
    a.append(val)
max=a[0]
for i in range(size):
    if a[i]>max:
        max= a[i]
print("max number=",max)

entre the size do you want the size of list:6
entre the value:12
entre the value:13
entre the value:15
entre the value:17
entre the value:34
entre the value:55
max number= 55

In [2]:
a=[]
size=int(input("entre the number do you want list size:"))
for i in range(size):
    val=int(input("entre the value:"))
    a.append(val)
min=a[0]
for i in range(size):
    if a[i]<min:
        min=a[i]
print("minium number=",min)

entre the number do you want list size:5
entre the value:1
entre the value:3
entre the value:4
entre the value:6
entre the value:7
minium number= 1

# python programe to reverse the list

In [1]:
a=[]
size=int(input("entre the size do you want the size of list: "))
for i in range(size):
    val=int(input("entre the value:"))
    a.append(val)
i=0
j=size-1
while(i<j):
    t=a[i]
    a[i]=a[j]
    a[j]=t
    i=i+1
    j=j-1
print("list after reverse=")
for i in range(size):
    print(a[i])

entre the size do you want the size of list: 6
entre the value:1
entre the value:2
entre the value:3
entre the value:4
entre the value:5
entre the value:6
list after reverse=
6
5
4
3
2
1

# find the second min number to programe

In [3]:
a=[]
size=int(input("entre the size of list:"))
for i in range(size):
    val=int(input("entre the value:"))
    a.append(a)
minval=min(a)
print("min value in the list:",minval)
a.remove(minval)
smin=min(a)
print("second min value in the list=",smin)

entre the size of list:5
entre the value:1
entre the value:3
entre the value:4
entre the value:5
entre the value:6
min value in the list: [[...], [...], [...], [...], [...]]
second min value in the list= [[...], [...], [...], [...]]